.main-content{
    display: flex;
    width: 100%;
}
.sidebar_container{
    width: 4.5%;
    background-color: white;
}
.dashboard_container{
    width: 95.5%;
}
.header_container{
    width: 100%;
}
.dashboard_body{
    width: 100%;
    display: flex;
}
.carousels_container{
    width: 70%;
}
.new_releases_carousel{
    width: 100%;
}
.genre_carousel{
    width: 100%;
}