.main-content{
    display: flex;
    width: 100%;
}
.sidebar_container{
    width: 4.5%;
    background-color: white;
}
.dashboard_container{
    width: 95.5%;
}
.header_container{
    width: 100%;
}
.dashboard_body{
    width: 100%;
    display: flex;
    background: #FAFAFA;
}
.dashboard_body .carousels_container{
    width: 72%;
}
.dashboard_body .carousels_container .new_releases_carousel{
    width: 100%;
}
.dashboard_body .carousels_container .genre_carousel{
    width: 100%;
    padding: 0vw 3vw 0vw;
}
.inprogress_booksbar{
    width: 28%;
}