.main-content{
    display: flex;
    width: 100%;
}
.sidebar_container{
    width: 4.5%;
    background-color: white;
}
.library_container{
    width: 95.5%;
}
.header_container{
    width: 100%;
}
.library_body{
    width: 100%;
    display: flex;
    background: #FAFAFA;
}
.library_body .carousels_container{
    width: 100%;
}
.library_body .carousels_container .genre_carousel{
    width: 100%;
    padding-right: 3vw;
    padding-left: 1vw;
    margin-top: 3vw;
}