.main-content{
    display: flex;
    width: 100%;
}
.sidebar_container{
    width: 4.5%;
    background-color: white;
}
.settings_container{
    width: 95.5%;
    background: #FAFAFA;
}
.header_container{
    width: 100%;
}
.settings_container .settings-nav-bar{
    width: 100%;
    margin-right: 3vw;
    margin-left: 4vw;
    margin-top: 1vw;

}
.settings_body{
    width: 100%;
    display: flex;
    background: #FAFAFA;
}
.settings_body .carousels_container{
    width: 100%;
}
.settings_body .carousels_container .genre_carousel{
    width: 100%;
    padding-right: 3vw;
    padding-left: 1vw;
    margin-top: 3vw;
}

