@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.sidebar {
  width: 4.5vw; /* 60px * 0.052084 */
  height: 100vh; /* 88vh is unaffected */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.3vw 1vw 2vw;
}
.logo-container a{
  text-decoration: none;
  display: flex;
}

.logo {
  width: 3.34378vw;
  height: 3.34378vw;
}

.sidebar-top, .sidebar-bottom {
  display: flex;
  flex-direction: column;
}

.sidebar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5208vw;
  cursor: pointer;
  margin-bottom: 2vw;
}

.sidebar-icon img {
  width: 1.7vw; 
  height: 1.7vw; 
}

.sidebar-icon.active {
  background: var(--Color, #A63E71);
  border-radius: 0.5vw;
  width: 2.8vw;
  margin: auto;
  margin-bottom: 2vw;
}

.sidebar-icon:hover {
  background-color:var(--Color, #A63E71);
  border-radius: 0.5vw;
  width: 2.8vw;
  margin: auto;
  margin-bottom: 2vw;
}
