@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.viewbookmarks_carousel__wrap {
  width: 88%;
  margin-left: 1.5vw;
  margin-bottom: 2vw;
}

.viewbookmarks_carousel__inner{
  display: flex;
}
.viewbookmarks_carousel__btn {
  width: 7.5%;
  margin-top: 7.3vw;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;

}
.viewbookmarks_carousel__btn--prev{
  display: flex;
  justify-content: right;
  float: right;
}
.viewbookmarks_carousel__btn--next{
  display: flex;
  justify-content: left;
  float: left;
}
.viewbookmarks_carousel__btn--prev, .viewbookmarks_carousel__btn--next {
  width: 2.2vw;
  height: 2.2vw;
}

.viewbookmarks_carousel__btn--prev img, .viewbookmarks_carousel__btn--next img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.viewbookmarks_heading{
  color: var(--Black-60, #45464E);
  font-family: Inter;
  font-size: 1.2vw;
  margin-left: 0.6vw;
  font-weight: 500;
  margin-bottom: 2vw;
}
.viewbookmarks_carousel__container {
  width: 85%;
  height: 16.5vw;
  overflow: hidden; 
}

.viewbookmarks_carousel__slide-list {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(10.3vw * 10); 
}

.viewbookmarks_carousel__slide-item {
  flex-shrink: 0;
  width: 6.3vw;
  height: 10vw;
  margin: 0 0.4vw;
  cursor: pointer;
}


.viewbookmarks_carousel__slide-item img {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}
.viewbookmarks_carousel__slide-item.active {
    transition: all 0.3s ease-in-out;
    border-radius: 0.5vw;
    width: 7vw;
    height: 10.2vw;
    margin: 0 0.6vw;
    cursor: pointer;
    border: 0.1041vw solid #A63E71;
    box-shadow: 0.46vw 0.208vw 0.208vw 0px rgba(0, 0, 0, 0.25);
  }

.bookmarks_section_container{
    display: flex;
    width: 86%;
    height: 10.5vw;
    margin: auto auto 1.5vw;
    background: rgba(223, 200, 38, 0.52);
    border-radius: 0.5vw;
}
.play_container{
    width: 7%;
    justify-content: center;
    display: flex;
    margin-top: 1.3vw;
}
.play_container .play_img{
    width: 2.5vw;
    height: 2.5vw;
}
.play_container .play_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section_info_container{
    width: 21%;
    margin-top: 1.5vw;
    color: var(--Black-60, #45464E);
    font-family: Inter;
    justify-content: center;
}
.section_bookname{
    font-size: 1.041vw;
    font-weight: 700;
}
.section_time{
    margin-top: 1vw;
    font-size: 0.833vw;
    font-weight: 500;
}
.section_content_container{
    width: 72%;
    margin-top: 0.8vw;
    color: #000;
    font-family: Inter;
}
.section_content{
    font-size: 0.833vw;
    font-weight: 500;
    padding-right: 1vw;
}
.section_delete{
    width: 100%;
    display: flex;
    margin-top: 2vw;
}
.del_img{
    width: 1.2vw;
    height: 1.2vw;
}
.del_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.del_text{
    display: flex;
    align-items: center;
    font-size: 0.833vw;
    font-weight: 500;
    margin-left: 0.5vw;
}

